@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* --primary-color: #754cc3; */
  /* --primary-color: 117 , 76 , 195; */
  --primary-color: 0 , 153 , 166;
  --primary-color2: 200,200,200;
  --secondary-color: #f5f5f5;
  --primary-font: "Montserrat", sans-serif;
  --h2-size: 2rem;
  /* @primary-color: rgb(var(--primary-color)); */
  --rs-checkbox-checked-bg: rgb(var(--primary-color));
  --rs-picker-value: rgb(var(--primary-color));
  --rs-btn-link-text: rgb(var(--primary-color));
  --rs-bg-active: rgb(var(--primary-color));
  --rs-input-focus-border: rgb(var(--primary-color));
  --rs-primary-500: rgb(var(--primary-color));
  --dark-white-color: #22242b;
  --dark-modal-color: #2a2d37;
  --dark-secondary-color: #1b1c22;
  --success-color: #2CC170;
  --scrollbarBG: #aeb0b1;
  --thumbBG: #90a4ae;
  --rs-table-scrollbar-vertical-track: var(--scrollbarBG);
  --rs-table-scrollbar-thumb: rgb(var(--primary-color));
  --dark-secondary-hover-color: #292929;
  --secondary-hover-color: #bbbbbb;
  --gradient-to: #15D8E9;
  scroll-behavior: smooth;
}
html.dark {
  --rs-loader-backdrop: var(--dark-white-color); 
}

.all-unset {
  all: unset;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}
@layer base {
 
  body {
    @apply dark:bg-dark-white dark:text-white ;
  }
  select {
    /* all: unset; */
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-initial {
    text-align: initial;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  select.w-full {
    /* width: -webkit-fill-available; */
  }
  select:focus-within,
  input:focus-within,
  input:focus-visible,
  textarea:focus-within {
    outline: none;
    /* @apply outline-1 outline-primary; */
  }
}
/* @layer base { */
@font-face {
  font-family: Montserrat;
  src: url("../public/fonts/Montserrat-Arabic-Light-300.otf");
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url("../public/fonts/Montserrat-Arabic-Light-300.otf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("../public/fonts/Montserrat-Arabic-Regular-400.otf");
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url("../public/fonts/Montserrat-Arabic-Bold-700.otf");
  font-weight: black;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 300;
  color: black;
  /* font-size: 10.375rem; */
}

/* scroll color  */
body::-webkit-scrollbar {
  width: 0.5rem;
}

* {
  scrollbar-width: thin;
  scrollbar-width: 0.5rem;
  scrollbar-color: rgb(var(--primary-color)) var(--scrollbarBG);
}
::-webkit-scrollbar {
  background-color: rgb(var(--primary-color));
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--primary-color));
  border-radius: 0.375rem;
  border: 0.188rem solid var(----scrollbarBG);
}
a {
  cursor: pointer;
}
.grid-area-home {
  display: block;
}
@media (min-width: 1280px) {
  .grid-area-home {
    display: grid;
    grid-template-areas:
      "aside top "
      "aside page  "
      "aside page  ";
    grid-template-columns: 18rem 1fr;
    grid-template-rows: 5rem 1fr;
  }
}
.grid-area-home .grid-area-home-top {
  grid-area: top;
}
.grid-area-home .grid-area-home-aside {
  grid-area: aside;
}
.grid-area-home .grid-area-home-page {
  grid-area: page;
}
/* important */
.z-10-important {
  z-index: 10 !important;
}
.bg-black-important {
  background: black !important;
}
.pb-0-important {
  padding-bottom: 0 !important;
}
.p-4-important {
  padding: 1rem !important;
}
.p-0-important {
  padding: 0 !important;
}
.text-xs-important{
  font-size: 12px;/* 12px */;
    line-height: 1rem/* 10.375rem */;
}
.dir-ltr{
  direction: ltr;
}
.container2 {
  width: 100%;
}
html{
  font-size: 16px;
}
@media (min-width: 640px) {
  .container2 {
      max-width: 540px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container2 {
      max-width: 720px;
    width: 100%;

  }
}
@media (min-width: 1024px) {
  .container2 {
      max-width: 1024px;
    width: 100%;
  }

}
@media (min-width: 1280px) {
  .container2 {
      max-width: 950px;
    width: 100%;
  }
  html{
    font-size: 13px;
  }
  .text-xs{
    font-size:12px;
      }
}
@media (min-width: 1400px) {
  .container2 {
      max-width: 1100px;
    width: 100%;
  }
  html{
    font-size: 15px;
  }
  .text-xs{
font-size:12px;
  }
}
@media (min-width: 1536px) {
  .container2 {
      max-width: 1200px;
    width: 100%;
  }
  html{
    font-size: 16px;
  }
}
/* coped */


/* short project */
.container-page {
  @apply container px-4 mx-auto lg:px-24 md:px-12 sm:px-10;
}
.container-page-md {
  @apply container px-4 mx-auto lg:px-32 md:px-12 sm:px-10;
}
.container-page-small {
  @apply w-[43.75rem] px-4 mx-auto max-w-full;
}

.button.out-primary {
  @apply bg-transparent border ;
  color:rgb(var(--primary-color));
  border:0.063rem  solid rgb(var(--primary-color));
}

.button.unactive {
  @apply text-gray-500 bg-white dark:bg-dark-white focus:ring-gray-500 focus:ring-offset-indigo-200;
}
.button.cancle {
  @apply text-black dark:text-white bg-secondary dark:bg-dark-secondary focus:ring-gray-500 focus:ring-offset-indigo-200;
}
.button.big {
  @apply px-4 text-xl md:text-4xl md:px-8 md:w-40 min-w-max;
}
/* more linear for icons */
svg.more-linear * {
  stroke-width: 0.5;
}
.input-with-icon input {
  @apply rtl:pr-12 ltr:pl-12;
}
.input-with-icon .password input {
  @apply px-12;
}
.input-with-icon input[value=""] {
  @apply rtl:text-right ltr:text-left;
}

.input-with-icon svg {
  @apply w-full;
}
.icon-container {
  @apply flex p-2 rounded md:rounded-xl before:rounded before:md:rounded-xl bg-white relative  ;
}

.imgField {
  @apply rounded-lg border-[0.125rem] border-dashed  mb-8;
  border:0.063rem solid rgb(var(--primary-color));
}
/* end project */

.icon-container:before{
  content:"";
  background: rgba(var(--primary-color),0.2);
  position: absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}
.icon-container > *{
  z-index: 2;
}
.progress-circle {
  transform: scaleX(-1) rotate(-90deg);
}

.progress-circle circle {
  transition: 1.5s ease;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

.custumn-check-box:checked + label {
  @apply text-white ;
  background-color: rgb(var(--primary-color));
}
/* start swiper auth */
.auth-slider .swiper {
  width: 100%;
  height: 100%;
}

.auth-slider .swiper-slide {
  text-align: center;
}

.auth-slider .swiper-button-next:after,
.auth-slider .swiper-button-prev:after {
  color: #fff !important;
  border: 0.063rem solid;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}
[dir="rtl"] .auth-slider .swiper-pagination {
  text-align: initial;
  bottom: 2rem !important;
  right: 2rem;
  width: 80%;
}
[dir="ltr"] .auth-slider .swiper-pagination {
  bottom: 2rem !important;
  right: 2rem;
  left: unset;
  text-align: right;
  width: 80%;
}
:root {
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-horizontal-gap: 0.188rem;
}
.auth-slider .swiper-button-next {
  left: 2rem !important;
  right: initial !important;

  bottom: 2rem;
  top: initial;
}
.auth-slider .swiper-button-prev {
  bottom: 2rem;
  top: initial;
  left: 4.5rem !important;
  right: initial !important;
}
[dir="ltr"] .auth-slider .swiper-button-prev {
  left: 2rem !important;
  right: initial !important;

}
[dir="ltr"] .auth-slider .swiper-button-next{
  left: 4.5rem !important;
  right: initial !important;
}
/* end slidr auth */
/* start slider deposit */

.profile-slider {
  padding: 1rem 1.5rem;
  background: var(--secondary-color);
  border-radius: 0.75rem /* 12px */;
}
.profile-slider .swiper-button-lock {
  display: grid;
}
html.dark .profile-slider {
  background: var(--dark-secondary-color);
}
.deposit-slider .swiper-slide,
.cards .swiper-slide {
  opacity: 0.3;
}
.deposit-slider .swiper-slide-active,
.cards .swiper-slide-visible {
  opacity: 1;
}

.swiper-button-next,.swiper-button-prev
{
  background: rgb(var(--primary-color));
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.five-steps-slider .swiper-button-next,
.real-types-accounts-slider .swiper-button-next,
.bank-slider .swiper-button-next,
.profile-slider .swiper-button-next {
  left: 0;
}
.deposit-slider .swiper-button-next,
.deposit-slider .swiper-rtl .swiper-button-prev {
  left: calc(50% - 1.5rem);
}

.five-steps-slider .swiper-button-prev,
.real-types-accounts-slider .swiper-button-prev,
.profile-slider .swiper-button-prev,
.bank-slider .swiper-button-prev {
  right: 0;
}

.deposit-slider .swiper-button-prev,
.deposit-slider .swiper-rtl .swiper-button-next {
  right: 0.25rem;
}
@media (max-width: 760.5rem) {
  .deposit-slider .swiper-button-prev,
  .deposit-slider .swiper-rtl .swiper-button-next {
    right: 0;
  }
  .deposit-slider .swiper-button-next,
  .deposit-slider .swiper-rtl .swiper-button-prev {
    left: 0;
  }
}
.swiper-pagination-bullet-active{
  width: 1rem;
  border-radius: 0.313rem;
  background: rgb(var(--primary-color));
}
.swiper-button-next:after,
 .swiper-button-prev:after {
  font-size: 0.5rem;
  color: #fff;
}
/* end slider deposit */
/* start slider cards */

.cards .swiper-slide {
  width: 12.5rem !important;
}
/* end slider cards */
/* start bank-slider */
/* end bank-slider */

/* /reset phone  */
.react-tel-input .form-control {
  width: calc(100% - 3rem);
  background: transparent;
  border: none;
  height: initial;
  direction: ltr;
  padding: 0 1rem;
}
.react-tel-input .flag-dropdown {
  border: none;
  border-right: 0.063rem solid #eee;
  padding: 0;
  padding-right: 1rem;
  position: initial;
}
html.dark .react-tel-input .flag-dropdown {
  background: var(----dark-modal-color);
  border: none;
}
.react-tel-input .flag-dropdown.open,
.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: transparent;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background: transparent;
}
.react-tel-input .country-list .search {
  background: #f4f4f4;
  padding-right: 0;
  padding-left: 0;
  opacity: 1;
}
html.dark .react-tel-input .country-list .search {
  background: var(--dark-secondary-color);
}
.react-tel-input .country-list .country {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html.dark .react-tel-input .country-list .country:hover,
html.dark .react-tel-input .country-list .country.highlight {
  background: var(--dark-modal-color);
}
.react-tel-input .country-list .country-name {
  width: 80%;
  text-align: right;
}
.react-tel-input .country-list {
  width: 100%;
  right: 0;
  background-color: var(--secondary-color);
}
html.dark .react-tel-input .country-list {
  background-color: var(--dark-secondary-color);
}
.react-tel-input .country-list .search-box {
  background: #fff;
  padding: 0.5rem 1rem;
  width: 95%;
  border-radius: 0.5rem;
  margin: auto;
  display: block;
}
html.dark .react-tel-input .country-list .search-box {
  background-color: var(--dark-white-color);
}
.react-tel-input .country-list .search-emoji {
  display: none;
}
.react-tel-input .selected-flag {
  display: flex;
  justify-content: center;
}
/*  hide dial-code form city */
.city .dial-code {
  opacity: 0;
}

.city .form-control {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.width-city {
  width: calc(100% - 5rem);
  background: transparent;
}
.bg-color {
  background: var(--color, rgb(71, 71, 71));
}
/* for nploader\ */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(var(--primary-color));

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 0.125rem;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 6.25rem;
  height: 100%;
  box-shadow: 0 0 0.625rem var * (--primary-color), 0 0 0.313rem var * (--primary-color);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -0.25rem);
  -ms-transform: rotate(3deg) translate(0px, -0.25rem);
  transform: rotate(3deg) translate(0px, -0.25rem);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 0.938rem;
  right: 0.938rem;
}

#nprogress .spinner-icon {
  width: 1.125rem;
  height: 1.125rem;
  box-sizing: border-box;

  border: solid 0.125rem transparent;
  border-top-color: rgb(var(--primary-color));
  border-left-color: rgb(var(--primary-color));
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
  height: 1rem;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* reset react suite modal */
.rs-modal-content {
  border-radius: 2rem;
  max-width: 31.25rem;
  margin: auto;
  background-color: #fff;
  margin-right: 1rem;
  margin-left: 1rem;
}
html.dark .rs-modal-content {
  background-color: var(--dark-modal-color);
}
.less-size-modal .rs-modal-content {
  max-width: 25rem;
}
.more-size-modal .rs-modal-content {
  max-width: 43.75rem;
}
@media (min-width: 760.5rem) {
  .more-size-modal .rs-modal-content {
    width: 200%;
  }
}
.rs-btn-close .rs-icon {
  color: #f72a2a;
  font-size: 1.5rem;
}
/* class dropdown */
.rs-modal-wrapper {
  background: rgba(188, 41, 41, 0);
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
}

.rs-checkbox label {
  font-weight: inherit;
}
/* reset select remove outline  */
select:focus-visible,
select:focus-within {
  outline: none;
}
/* reset select react suite */
.rs-picker.rs-picker-focused,
.rs-picker:not(.rs-picker-disabled):hover {
  border: none;
}
.rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn {
  text-align: left;
}
.table-picker .rs-picker-toggle .rs-picker-toggle-placeholder{
  display: block;
  text-align: left;
}
[dir="rtl"] .table-picker .rs-picker-toggle .rs-picker-toggle-placeholder{
  text-align: right;

}
.rs-picker-menu.rs-picker-select-menu {
  background-color: var(--secondary-color);
  margin-top: 0.25rem;
  border: 0 0 1rem 1rem;
  box-shadow: none;
}
html.dark .rs-picker-menu.rs-picker-select-menu {
  background-color: var(--dark-secondary-color);
}
.rs-picker-select-menu-item {
  color: rgb(var(--primary-color));
}
.rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn {
  box-shadow: none;
}
.rs-picker-subtle .rs-btn:focus,
.rs-picker-subtle .rs-btn:hover,
.rs-picker-subtle .rs-picker-toggle:focus,
.rs-picker-subtle .rs-picker-toggle:hover {
  background: transparent;
}
.rs-picker-select-menu-item.rs-picker-select-menu-item-focus,
.rs-picker-select-menu-item:focus,
.rs-picker-select-menu-item:hover {
  background: transparent;
}

/* reset date picker */
.rs-picker-date {
  width: 100%;
}
.rs-picker-toggle-textbox {
  background: transparent;
}
.rs-picker-daterange-panel {
  direction: ltr;
}
/*data-range picker in mobile  */
/* md */
@media (min-width: 1024px) {
[dir="ltr"] .rs-picker-daterange-menu.rs-picker-menu{
left:initial !important;
right:1rem !important;
}
}
@media (max-width: 1024px) {
.rs-picker-daterange-content{
  width:calc(100vw - 4rem);
  max-width: 500px;

}
.rs-picker-daterange-menu.rs-picker-menu{
 transform: translateX(-50%); 
     left: 50% !important; 
 width:calc(100% - 4rem);
 max-width: 500px;
}
.rs-picker-daterange-calendar-group{
  height: auto;
  display: flex;
    flex-direction: column;
}
.rs-picker-daterange-calendar-group .rs-calendar{
  margin: 0;
}
}

/*  */
.rs-picker-toolbar-right {
  background: rgb(var(--primary-color));
  border-radius:0.313rem;
}
.rs-picker-toolbar-right:hover {
  filter: hue-rotate(341deg);
}

.rs-picker-toolbar-right button:hover {
  background: rgb(var(--primary-color));
}
.rs-picker-toolbar-right .rs-btn-primary.rs-btn-disabled,
.rs-picker-toolbar-right .rs-btn-primary:disabled {
  background: rgb(var(--primary-color));
}
html.dark .rs-picker-menu {
  background: var(--dark-white-color);
}
.select-with-head-no-head .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.select-with-head-no-head  .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value,
.select-with-head-no-head .rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn{
  display: block;
  text-align: left;
}
[dir="rtl"] .select-with-head-no-head .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
[dir="rtl"] .select-with-head-no-head  .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value,
[dir="rtl"] .select-with-head-no-head .rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn{
  text-align: right;
}
/* reset image upload */
.rs-uploader-trigger input[type="file"] {
  width: 100%;
  right: 0;
}
.rs-uploader-trigger-btn .rs-loader-backdrop-wrapper, .rs-loader-center{
    z-index: 2;
    opacity: 0.5;
}
.upload-image .rs-uploader.rs-uploader-picture.rs-uploader-draggable {
  margin: auto;
  width: 9rem;
  height: 9rem;
  display: block;
}
.upload-image .rs-uploader-picture .rs-uploader-trigger-btn {
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
}
/* start reset daragable uplaod */
.draggable-upload {
  margin-bottom: 2rem;
}

.draggable-upload
  .rs-uploader-draggable.rs-uploader-trigger-customize.rs-uploader-trigger-btn {
  width: 100%;
}
.draggable-upload .rs-uploader-trigger.rs-uploader-trigger-customize {
  background: var(--secondary-color);
  padding: 2rem;
  border: 0.188rem dashed rgb(var(--primary-color));
  border-radius: 1rem;
  text-align: center;
}
html.dark .draggable-upload .rs-uploader-trigger.rs-uploader-trigger-customize {
  background: var(--dark-secondary-color);
}
.draggable-upload
  .rs-uploader-trigger.rs-uploader-trigger-customize
  .rs-uploader-trigger-btn {
  background: var(--secondary-color);
  display: flex;
  border: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
html.dark
  .draggable-upload
  .rs-uploader-trigger.rs-uploader-trigger-customize
  .rs-uploader-trigger-btn {
  background-color: var(--dark-secondary-color);
}
[dir="rtl"] .draggable-upload .rs-uploader-file-item {
  padding: 1rem 1rem 1rem 2.2rem;
}
[dir="ltr"] .draggable-upload .rs-uploader-file-item {
  padding: 1rem 2.2rem 1rem 1rem;
}
.draggable-upload .rs-uploader-file-item {
  background: var(--secondary-color);
  border-radius: 0.5rem;
}
html.dark .draggable-upload .rs-uploader-file-item {
  background-color: var(--dark-secondary-color);
}
.draggable-upload .rs-uploader-file-item-icon-wrapper {
  display: none;
}
.draggable-upload .rs-uploader-file-item-btn-remove {
  top: 50%;
  transform: translateY(-50%);
}
.draggable-upload .rs-uploader-file-item-status svg {
  font-size: 1.2rem;
  margin: 0 0.625rem;
}
.draggable-upload .rs-uploader-file-item-content span {
  /* width: 12.5rem; */
  /* max-width: 80%; */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}
@media (max-width: 576px) {
   .draggable-upload .rs-uploader-file-item-content span {
        width: 9rem;
    max-width: 30vw;
   }
  }
.draggable-upload.pointer-events-none-upload
  .rs-uploader-trigger.rs-uploader-trigger-customize {
  pointer-events: none;
}
/* end reset daragable uplaod */
/* start reset table */
/* stop transition in table */
.rs-table-cell-group {
  transition: none;
}
.rs-table-cell-group .rs-table-row.rs-table-row-header {
  background: #fff !important;
  border-radius: 0 !important;
  transition: none;
}
.rs-table-row-header {
  background: #fff !important;
  transition: none;
}
html.dark .rs-table-row-header {
  background: var(--dark-white-color) !important;
}
html.dark .rs-table-cell-group .rs-table-row.rs-table-row-header {
  background: var(--dark-white-color) !important;
}

.rs-table-row .rs-table-cell-group .rs-table-cell {
  background: var(--secondary-color);
  transition: none;
}
html.dark .rs-table-row .rs-table-cell-group .rs-table-cell {
  background: var(--dark-secondary-color);
}
.rs-table-row-header .rs-table-cell-group .rs-table-cell {
  background: none;
  transition: none;
}
[dir="rtl"] .rs-table-cell-group .rs-table-cell:first-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
[dir="rtl"] .rs-table-cell-group .rs-table-cell:last-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
[dir="ltr"] .rs-table-cell-group .rs-table-cell:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
[dir="ltr"] .rs-table-cell-group .rs-table-cell:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.rs-table-row .rs-table-cell-content {
  padding-top: 0;
  padding-bottom: 0;
  height: calc(100% - 1rem) !important;
}
html.dark .rs-table-row-header .rs-table-cell-content {
  background: var(--dark-white-color);
}

.rs-table-row:hover .rs-table-cell-content {
  background: #f2faff;
  transition: none;
}

html.dark .rs-table-row:hover .rs-table-cell-content {
  background: #252525;
}
.rs-table-row-header:hover .rs-table-cell-content {
  background: none;
  transition: none;
}
html.dark .rs-table-row-header:hover .rs-table-cell-content {
  background: var(--dark-white-color);
}
/* .rs-table-hover .rs-table-row:hover .rs-table-cell, .rs-table-hover .rs-table-row:hover .rs-table-cell-group, .rs-table-hover .rs-table-row:not(.rs-table-row-header):hover .rs-table-cell-content{
  background:#f2faff;
  } */
/* end reset table */
html.dark .rs-picker-subtle .rs-btn-active,
.rs-picker-subtle .rs-picker-toggle-active {
  background: var(----dark-modal-color);
}
/* start reset pagination */
.rs-pagination {
  margin-right: auto;
  margin-left: auto;
}
.rs-pagination-lg .rs-pagination-btn {
  color: #000;
  font-weight: inherit;
}
.rs-pagination-lg .rs-pagination-btn:hover,
.rs-pagination-lg .rs-pagination-btn:focus {
  background: rgba(12, 1, 1, 0.2);
}

.rs-pagination-btn.rs-pagination-btn-active,
.rs-pagination-btn.rs-pagination-btn-active:focus {
  background: rgb(var(--primary-color));
  border: none;
  color: #fff;
}
html.dark .rs-pagination-lg .rs-pagination-btn {
  color: #fff;
}
.rs-pagination-btn[title="Next"] {
  transform: rotate(180deg);
}
.rs-pagination-btn[title="Next"] {
  transform: rotate(180deg);
}
.rs-pagination-btn[title="Previous"] {
  transform: rotate(-180deg);
}
/* end reset pagination */
/* reset filter table */
.a-filter-select {
  /* width: 100px; */
  /* max-width: 100%; */
  width: 100%;
  padding:0.313rem;
  background: #fff;
  border-radius:0.313rem;
}
.rs-dropdown-item:last-child {
  padding: 0;
}

/* reset filter table */
.print-table table {
  border-collapse: collapse;
  /* border: 0.063rem solid black; */
  width: 100%;
  /* padding:2rem; */
}
[dir="rtl"] .print-table table {
  direction: rtl;
  text-align: right;
}
.print-table td,
.print-table th {
  border-collapse: collapse;
  width: max-content;
}

/* print table */
@media print {
  .rs-table-cell-header-sort-wrapper,
  .rs-table-cell-header-icon-sort,
  .no-print {
    opacity: 0;
  }
  .bg-color {
    background: var(--color, rgb(71, 71, 71));
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .print-black {
    color: #000;
  }
  .print-table table {
    border-collapse: collapse;
    /* border: 0.063rem solid black; */
    /* width: 100%; */
  }
  .rtl {
    direction: rtl;
    text-align: right;
  }
  .print-table thead,
  .print-table tbody,
  .print-table tfoot,
  .print-table th {
    border-collapse: collapse;
    width: max-content;
  }
  .print-table th {
    /* border-bottom: 0.063rem solid black; */
  }

  .rs-table{
    border: 0.063rem solid#000;
    background: rgb(71, 71, 71);
    -webkit-print-color-adjust: exact;  
    print-color-adjust: exact; 
  }
  .rs-table-row{
    border-bottom: 0.063rem solid #000 !important;
    border-radius: 0 !important;
  }
}
/* reset select picker suite */
.rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
.rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
  top: 50%;
  transform: translateY(-50%);
}
html.dark .rs-picker-select-menu-items .rs-picker-menu-group-title {
  color: #fff;
}
html.dark .rs-picker-menu-group-title:hover {
  background: var(--dark-modal-color);
}


/* reset loader */
.rs-loader-spin:after{
  border-top-color: rgb(var(--primary-color));
}
.rs-picker-subtle .rs-picker-toggle{
  z-index: 1;
}
.rs-picker-toggle.rs-btn .rs-picker-toggle-caret{
  width:max-content
}
